// 基本の文字サイズ
$font_size: 16px;
$font_size_large: 24px;

// 基本の空間隔
$container_padding: 24px;

// ヘッダの大きさ
$header_height: 200px;

// フッタの大きさ
$footer_height: 100px;

// コンテント両端の空間隔
$content_width_margin: 80px;

// colors
$indigo: #064663;
$cream: #ecb365;
$black: #191825;
$perl: #f1f6f9;
$cyan: #1c82ad;
$purple: #66347f;
$green: #116d6e;
$dark_green: #2c3333;
$dark_red: #420516;
