@use '@/styles/variables' as v;

.header_container {
  height: v.$header_height;
  border-bottom: 2px double v.$green;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  // 以下理由で常時表示しない
  // - TOCリンクをクリックした際に見出しが隠れてしまうため
  // - 画面にヘッダーを表示する意義が小さいため
  // position: sticky;
  // top: 0px;
  overflow: hidden;
  background-color: v.$dark_green;
}

.title {
  font-size: 32px;
}
