@use '@/styles/variables' as v;

.header_container {
  height: v.$header_height;
  border-bottom: 2px double v.$green;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: sticky;
  top: 0px;
  overflow: hidden;
  background-color: v.$dark_green;
}

.logo {
  width: 160px;
}

.title {
  font-size: 32px;
}
